<form
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
  class="max-w-md mx-auto bg-white dark:bg-gray-800 p-8 border border-gray-200 dark:border-gray-700 rounded-2xl shadow-lg space-y-6"
>
  <div class="mb-5">
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Product Name</label
    >
    <input
      id="name"
      formControlName="name"
      type="text"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
      required
    />
  </div>

  <div>
    <label
      for="value"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Value</label
    >
    <input
      id="value"
      formControlName="value"
      type="number"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
      required
    />
  </div>

  <div>
    <label
      for="stock"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Stock</label
    >
    <input
      id="stock"
      formControlName="stock"
      type="number"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
      required
    />
  </div>
  <div>
    <label
      for="type"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >type</label
    >
    <select
      id="type"
      formControlName="type"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
    >
      <option value="" disabled selected>Select option</option>
      <option value="Drink">Drink</option>
      <option value="Food">Food</option>
      <option value="Snack">Snack</option>
    </select>
    <!-- <input
      id="type"
      formControlName="type"
      type="string"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
      required
    /> -->
  </div>
  <div class="flex justify-between gap-4 pt-4">
    <button
      type="submit"
      [disabled]="productForm.invalid"
      class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-xl text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-700 transition-all duration-200"
    >
      Save Product
    </button>
    <button
      type="button"
      (click)="cancel.emit()"
      class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-xl text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-700 transition-all duration-200"
    >
      Cancel
    </button>
  </div>
</form>
